.vp-code-group .tabs label {
  background-color: transparent;
}

table {
  width: 100% !important;
  display: table;
}

.custom-block.tip .custom-block-title {
  color: var(--vp-c-brand-1);
}


/* VitePress Search */
.VPLocalSearchBox .result {
  --vp-c-bg-search-result: var(--vp-c-bg);
  background: var(--vp-c-bg-search-result) !important;
  padding: 4px !important;
  border: 1px solid var(--vp-c-divider) !important;
}

.VPLocalSearchBox .result.selected {
  --vp-c-bg-search-result: var(--vp-c-bg-soft) !important;
}

.VPLocalSearchBox .result .excerpt-gradient-top {
  background: linear-gradient(var(--vp-c-bg-search-result), transparent) !important;
}

.VPLocalSearchBox .result .excerpt-gradient-bottom {
  background: linear-gradient(transparent, var(--vp-c-bg-search-result)) !important;
}

.VPLocalSearchBox .title-icon {
  display: none;
}

.VPLocalSearchBox .excerpt-wrapper {
  margin-top: 4px;
}

.VPNavBarTitle a span {
  color: var(--vp-c-brand-1) !important;
  transition: color 0.25s;
}

.VPNavBarTitle a:hover span,
.VPNavBarTitle a:focus span {
  color: unset !important;
}

.vpi-arrow-right {
  display: none;
}
